html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  /* 屏幕宽度限制 */
  /* min-width: 1366px; */
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

.el-card {
  /* 当本身的样式权重较高时候加上!important */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.el-pagination {
  margin-top: 15px;
}

.batch-button {
  margin-top: 15px;
}

/* 步骤条 */
.el-steps {
  margin: 15px 0;
}
.el-step__title {
  font-size: 13px;
}

/* 富文本编辑器样式 */
.ql-editor {
  min-height: 300px;
}

/* .bor-gray {
  border: 1px solid #e5e5e5;
}
.bor-gra {
  border: 1px solid #C0CCDA;
}
.bor-b-gray {
  border-bottom: 1px solid #e5e5e5;
}
.bor-b-ccc {
  border-bottom: 1px solid #ccc;
}
.bor-none {
  border: none;
} */
